@use 'variables' as *;
@use 'mixins' as *;
@use 'header';
@use 'hero';
@use 'footer';
@use 'content';
@use 'cards';


// Підключення стилів аккордіону
// @use 'accordion';

// Підключення стилів табів
// @use 'tabs';

// Підключення стилізації модальних вікон та поп-апів
// @use 'modal';

// Підключення базової стилізації кастомного селекту
// @use 'customSelect';

// За потреби можна підключати анімації за клосом
// @use 'animation';

// Для стартових налаштувнань теми
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $fontColor;
    background-color: $bgColor;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 60px;
}

.no-scroll {
    overflow: hidden;
}


// Обмежуючий контейнер - цей контейнер часто зустрічається в проектах, якщо сайт має певну геометрію.
[class*='__container'] {
    max-width: $maxWidthContainer;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px
}

// Застосування стилів для посилання: колір, час анімації, активний стан.
a {
    color: $linkColor;
    text-decoration: none;
    transition-duration: $transitionDuration;
}

a:hover {
    color: $linkHoverColor;
}

a:active {
    color: $activeColor;
}

// Застосування стилів для кнопкки з класом .button
.button {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $buttonBgColor;
    transition-duration: $transitionDuration;
    color: $buttonFontColor;
    padding: $buttonPaddings;
    border-radius: $buttonBorderRadius;
    cursor: pointer;
    border: 0;
    outline: 0;
    font-size: 18px;
    font-weight: 700;
    border: 2px solid #F7515C;
}

.button:hover {
    background-color: #fff;
    color: #F7515C;
}

.button:active {
    background-color: #fff;
    color: #F7515C;
}

// Загальні стилі для списків
ol,
ul {
    padding-left: 20px;

    li:not(:last-child) {
        padding-bottom: 15px;
    }
}

// title 

.title {
    font-size: clamp(28px, 5vw, 60px);
    font-weight: 700;
    color: #282A30;
}

// span .transparent

.transparent {
    color: transparent;
    -webkit-text-stroke: 1px $fontColor;
    font-size: clamp(32px, 5vw, 100px);
}

.section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    display: block;
    width: 58px;
    height: 58px;
    min-width: 58px;
    border-radius: 50%;
    background-color: #FFFFFF;
    box-shadow: 0 4px 70px 0 rgba(0, 0, 0, .35);
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 16px solid #282A30; 
    }
}

.video__button {
    display: flex;
    gap: 24px;
    align-items: center;
    color: #282a30;
    font-size: 18px;
    font-weight: 600;
    transition-duration: $transitionDuration;


    &:hover {
        gap: 36px;
    }
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts//Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts//Montserrat-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}